{% extends 'base.html' %}
{% block title %}Create Ride{% endblock %}
{% block titlebar %}
<h1>Create Ride</h1>
{% endblock %}
{% block body %}
      <div class="jumbotron">
      <div class="row">
        <div class="col-md-8">
            <label for="capacity">Number of Seats in Car (not including driver):</label>
            <input type="number" class="form-control"
id='capacity' min="2" max="42" value="5">
        </div>
        <div class="col-md-4">
          <label for="startTime">Start Time:</label>
          <input type="text" id="startTime"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
            <label for="comments">Comments:</label>
            <textarea class="form-control" rows="5" id="comments"></textarea>
        </div>
        <div class="col-md-4">
          <label for="endTime">End Time:</label>
          <input type="text" id="endTime"/>
        </div>
      </div>
      <p>
        <button type="button" onclick="submit_createRide({{event}});" class="btn btn-lg
btn-success">Create Ride</button>
      </p>
{% endblock %}
{% block endscripts %}
      <script>
        $('#startTime').datetimepicker({
            inline:true,
            format: 'Y-m-d H:M',
            allowTimes: times,
            onChangeDateTime: function(a, b) { startTime = a},
            onGenerate: function(a, b) { startTime = a}
        });
        $('#endTime').datetimepicker({
            inline:true,
            format: 'Y-m-d H:M',
            allowTimes: times,
            onChangeDateTime: function(a, b) { endTime = a},
            onGenerate: function(a, b) { endTime = a}
        });
      </script>
{% endblock %}
