{% extends 'base.html' %}
{% block title %}Create Event{% endblock %}
{% block titlebar %}
<h1>Create Event</h1>
{% endblock %}
{% block body %}
      <div class="jumbotron">
      <div class="row">
        <div class="col-md-8">
            <label for="name">Event Name:</label>
            <input type="text" class="form-control" id='name'>
        </div>
        <div class="col-md-4">
          <label for="startTime">Start Time:</label>
          <input type="text" id="startTime"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
            <label for="description">Event Description:</label>
            <textarea class="form-control" rows="5" id="description"></textarea>
        </div>
        <div class="col-md-4">
          <label for="endTime">End Time:</label>
          <input type="text" id="endTime"/>
        </div>
      </div>
      <p>
        <button type="button" onclick="submit_createEvent();" class="btn btn-lg btn-success">Create Rideboard</button>
      </p>
      </div>
{% endblock %}
{% block endscripts %}
      <script>
        $('#startTime').datetimepicker({
            inline:true,
            format: 'Y-m-d H:M',
            allowTimes: times,
            minDate: '0',
            onChangeDateTime: function(a, b) { startTime = a},
            onGenerate: function(a, b) { startTime = a}
        });
        $('#endTime').datetimepicker({
            inline:true,
            format: 'Y-m-d H:M',
            allowTimes: times,
            minDate: '0',
            onChangeDateTime: function(a, b) { endTime = a},
            onGenerate: function(a, b) { endTime = a}
        });
      </script>
{% endblock %}
