{% extends 'base.html' %}
{% block title %}List Events{% endblock %}
{% block body %}
    {% if events|length == 0 %}
      <div class="jumbotron">
        <h1><center>No Upcoming Events</center></h1>
      </div>
    {% endif %}
      {% for event in events %}
      <div class="jumbotron">
        <h2>{{event['name']}}</h2>
        <h3>Start: {{event['startTime']}}</h3>
        <h3>End: {{event['endTime']}}</h3>
        <h3>Hosted By: {{event['host']}}</h3>
        <p>{{event['description']}}</p>
        <div class="attendee-images">
        {% for person in event['attendees'] %}<img src="https://profiles.csh.rit.edu/image/{{person}}" width="50" height="50"/>{% endfor %}
        </div>
        <a type="button" href="/view/event/{{event['id']}}" class="btn btn-lg
btn-success">View Rideboard</a>
      </div>
        <hr>
      {% endfor %}
{% endblock %}
